/* Default Screen or Large Screen */
@media screen and (min-width: 1008px) {
    .main-wrapper {
        width: 100%;
        height: 95vh;
        background-color: rgb(30 41 59);
       
    }
    .container-wrapper{
        width: 95%;
        height: 100%;
        margin: 10px auto;
        display: flex;
        border: 1px solid yellow;
    }

    .container-wrapper>div:first-child{
           width: 25%;
           height: 100%;
           border: 1px solid white;
           color: white;
    }
    .container-wrapper>div:last-child
    {
        width: 74%;
        height: 100%;
        border: 1px solid gold;
    }
    .left-mainDiv>div{
         height: 11vh;
         width: 100%;
         border: 2px solid gray;
    }
    .left-mainDiv>div:first-child{
        display: flex;
        width: 100%;
        margin: auto;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        /* background-color: rgb(156 163 175);  */
        
    }
    .left-mainDiv>div:first-child>div:first-child>img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid ghostwhite;
       
    }
    .left-mainDiv>div:first-child>:last-child>h2{
        font-size: 20px;
        font-weight: 600;
        color: yellow;
    }
}

/* Medium Screen */
@media screen and ((min-width: 641px) and (max-width: 1007px)) {
    .main-wrapper {
        background-color: red;
    }
}

/* Small Screen */
@media screen and (max-width: 640px) {
    .main-wrapper {
        background-color: yellow;
    }
}