/* Default Screen or Large Screen */
@media screen and (min-width: 1008px) {
    .main-wrapper {
        width: 100%;
        height: auto;
        background-color: rgb(30 41 59);

    }

    .container-wrapper {
        width: 99%;
        height: 100%;
        margin: 10px auto;
        display: flex;
        /* border: 1px solid yellow; */
    }

    .container-wrapper>div:first-child {
        width: 25%;
        height: 100%;
        /* border: 1px solid white; */
        box-shadow: rgba(19, 243, 12, 0.24) 0px 3px 8px;
        color: white;
    }

    .container-wrapper>div:last-child {
        width: 70%;
        height: 100%;
        margin-left: 70px;
        /* background-color: yellow; */

    }

    .left-mainDiv>div {
        height: 11vh;
        width: 100%;
        /* border: 2px solid gray; */
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        /* border-bottom: 1px solid yellow; */
    }

    .left-mainDiv>div:hover {
        background-color: rgb(209 213 219);
        color: black;
    }


    .left-mainDiv>div:nth-child(2) {
        padding: 15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-mainDiv>div:nth-child(2)>svg {
        padding: 20px;

    }

    .left-mainDiv>div:nth-child(3) {
        padding: 15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-mainDiv>div:nth-child(3)>span {
        padding: 20px;

    }

    .left-mainDiv>div:nth-child(4) {
        padding: 15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-mainDiv>div:nth-child(4)>span {
        padding: 20px;

    }

    .left-mainDiv>div:nth-child(5) {
        padding: 15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-mainDiv>div:nth-child(5)>span {
        padding: 20px;

    }

    .left-mainDiv>div:nth-child(6) {
        padding: 15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-mainDiv>div:nth-child(6)>span {
        padding: 20px;

    }

    .left-mainDiv>div:nth-child(7) {
        padding: 15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-mainDiv>div:nth-child(7)>span {
        padding: 20px;

    }

    .left-mainDiv>div:nth-child(8) {
        padding: 15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left-mainDiv>div:nth-child(8)>span {
        padding: 20px;

    }

    .left-mainDiv>div:first-child {
        display: flex;
        width: 100%;
        margin: auto;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-bottom: 2px solid yellow;
        /* background-color: rgb(156 163 175);  */

    }

    .left-mainDiv>div:first-child>div:first-child>img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid ghostwhite;

    }

    .left-mainDiv>div:first-child>:last-child>h2 {
        /* font-size: 20px; */
        font-weight: 600;
        color: yellow;
    }
}

/* Medium Screen */
@media screen and ((min-width: 641px) and (max-width: 1007px)) {
    .main-wrapper {
        background-color: red;
    }
}

/* Small Screen */
@media screen and (max-width: 640px) {
    .main-wrapper {
        background-color: yellow;
    }
}