.onemain{
    border: 2px solid red;
    display: flex;
    margin: 20px 2% 5px 2%;
    background-color: white; 
    padding: 1%;
    gap:5px
}
.leftbox{
    width: 40%;
  
    display: flex;
    height: 440px;
    text-align: center;
    
 
}
.rightbox{
    width: 57%;
    /* border: 3px solid green; */
    padding: 0.5%;
    
}
.imgdivbox{
    justify-content: center;
    width:100%;
    border: 0.5px solid rgba(128, 128, 128, 0.234);
    border-left-style: none
    
}
.buttbox{
    display: flex;
    width: 60%;
    /* border: 3px solid green; */
    justify-content: space-evenly;
    padding: 5px 20%;
    margin-top: 20px;
    margin-left: 20px;
}
.verticalline{
width: 20%;
/* border: 2px solid violet; */
height: 100%;
}
.rightbox {
    text-align: left;
    color: #212121;
    
}
.rightbox div{
    margin-bottom: 8px;
}

.ratetext{
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}
.pricedivone :nth-child(1){

    font-weight: 500;
    font-size: 36px;
    margin-right: 3%;
}
.pricedivone :nth-child(2){

    font-weight: 300;
    font-size: 18px;
    text-decoration: line-through;
    margin-right: 4%;
}
.pricedivone :nth-child(3){
    font-weight: 500;
    font-size: 17px;
    
    margin-right: 7%;
    color: green;
}
.offertag{
    width: 18px;
}
.offerline{
    font-size: 15px;
}
.tandc{
    color: #2874f0;
    font-size: 15px;
    font-weight: 500;
}
.smallimg{
    width: 90%;
    padding: 5%;
    border: 1px solid lightgrey;
  

}
.offer{
    display: flex;
    align-items: center;
    gap: 5px;
   
}
.smallimg:hover{
    border:3px solid #2874f0
}